<!--
Rice Explosion: Donald Bi, Wilson Mach, Nakib Abedin
SoftDev
K13 -- Stuylin' & Wylin' & Profilin' pure html css
2022-10-18
time spent: 1 hrs
-->

<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="../static/style.css">
    <title>Document</title>
</head>
<body>
    <div class="container">
        <h1>h1 foo</h1>
        <div class="text">
            <div class="left">
                <div class="nav-foo">nav foo</div>
                <ul class="bottom-text">
                    <li>dis</li>
                    <li>dat</li>
                    <li>de udda ting</li>
                </ul>
            </div>
            <div class="right">
                <div class="main-foo">main foo heading</div>
                <div class="bottom-text">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Tempor commodo ullamcorper a lacus vestibulum sed. Id leo in vitae turpis massa sed. Risus viverra adipiscing at in tellus integer feugiat scelerisque. Integer malesuada nunc vel risus. Amet commodo nulla facilisi nullam. Elementum nibh tellus molestie nunc. Pulvinar etiam non quam lacus suspendisse. Mattis molestie a iaculis at erat. Nulla at volutpat diam ut venenatis tellus in metus. Scelerisque viverra mauris in aliquam sem fringilla ut morbi tincidunt. Posuere lorem ipsum dolor sit. Gravida dictum fusce ut placerat orci nulla pellentesque dignissim. Quis auctor elit sed vulputate mi sit. Mauris pharetra et ultrices neque ornare. Feugiat in ante metus dictum at tempor commodo ullamcorper.</p>
                    <p>Cras semper auctor neque vitae. Velit laoreet id donec ultrices tincidunt arcu. Pharetra massa massa ultricies mi quis hendrerit. Euismod elementum nisi quis eleifend quam adipiscing. Viverra justo nec ultrices dui sapien eget mi. Sit amet commodo nulla facilisi nullam. Et ultrices neque ornare aenean. Aliquet nec ullamcorper sit amet risus nullam eget felis eget. Maecenas accumsan lacus vel facilisis volutpat est. Morbi leo urna molestie at elementum eu facilisis sed. Mi ipsum faucibus vitae aliquet nec ullamcorper sit. Sagittis nisl rhoncus mattis rhoncus urna neque viverra justo nec.</p>
                </div>
            </div>
        </div>
        <div class="footer">Copyright C2015 Clyde "Thluffy" Sinclair</div>
    </div>
</body>
</html>
